mixin LoginIcon
  svg.fill-gray-400(
    width='20',
    height='20',
    viewbox='0 0 20 20',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400 group-hover:fill-color-brands'
  )
    path(
      d='M6 1.66666H8.16667C10.8333 1.66666 12.5 3.33332 12.5 5.99999V9.37499H8.8L10.525 7.64999C10.65 7.52499 10.7083 7.36666 10.7083 7.20832C10.7083 7.04999 10.65 6.89166 10.525 6.76666C10.2833 6.52499 9.88333 6.52499 9.64167 6.76666L6.85 9.55832C6.60833 9.79999 6.60833 10.2 6.85 10.4417L9.64167 13.2333C9.88333 13.475 10.2833 13.475 10.525 13.2333C10.7667 12.9917 10.7667 12.5917 10.525 12.35L8.8 10.625H12.5V14C12.5 16.6667 10.8333 18.3333 8.16667 18.3333H6.00833C3.34167 18.3333 1.675 16.6667 1.675 14V5.99999C1.66667 3.33332 3.33333 1.66666 6 1.66666Z'
    )
    path(
      d='M17.7085 9.375C18.0502 9.375 18.3335 9.65833 18.3335 10C18.3335 10.3417 18.0502 10.625 17.7085 10.625H12.5002V9.375H17.7085Z'
    )

mixin SaveIcon
  svg.fill-gray-400(
    width='20',
    height='20',
    viewbox='0 0 20 20',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400 group-hover:fill-color-brands'
  )
    path(
      d='M10.7415 4.89999H4.25817C2.83317 4.89999 1.6665 6.06666 1.6665 7.49166V16.9583C1.6665 18.1667 2.53317 18.6833 3.5915 18.0917L6.8665 16.2667C7.2165 16.075 7.78317 16.075 8.12484 16.2667L11.3998 18.0917C12.4665 18.675 13.3332 18.1667 13.3332 16.9583V7.49166C13.3332 6.06666 12.1665 4.89999 10.7415 4.89999Z'
    )
    path(
      d='M18.3334 4.25832V13.725C18.3334 14.9333 17.4667 15.4417 16.4084 14.8583L14.8 13.9583C14.6667 13.8833 14.5834 13.7417 14.5834 13.5917V7.49166C14.5834 5.37499 12.8584 3.64999 10.7417 3.64999H7.35003C7.0417 3.64999 6.82503 3.32499 6.9667 3.05832C7.40003 2.23332 8.2667 1.66666 9.25836 1.66666H15.7417C17.1667 1.66666 18.3334 2.83332 18.3334 4.25832Z'
    )

mixin DirectboxDefaultIcon
  svg.fill-gray-400(
    width='20',
    height='20',
    viewbox='0 0 20 20',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400 group-hover:fill-color-brands'
  )
    path(
      d='M15.5752 9.60832C15.1002 9.48332 14.5419 9.41666 13.8752 9.41666C12.9502 9.41666 12.6086 9.64166 12.1336 9.99999C12.1086 10.0167 12.0836 10.0417 12.0586 10.0667L11.2669 10.9083C10.6002 11.6083 9.40023 11.6167 8.73356 10.9L7.94189 10.0667C7.91689 10.0417 7.89189 10.0167 7.86689 9.99999C7.39189 9.64166 7.05023 9.41666 6.12523 9.41666C5.45856 9.41666 4.90023 9.48332 4.42523 9.60832C2.44189 10.1417 2.44189 11.7167 2.44189 13.1V13.875C2.44189 15.9667 2.44189 18.3333 6.90023 18.3333H13.1002C16.0586 18.3333 17.5586 16.8333 17.5586 13.875V13.1C17.5586 11.7167 17.5586 10.1417 15.5752 9.60832ZM11.9419 15.3333H8.05856C7.74189 15.3333 7.48356 15.075 7.48356 14.75C7.48356 14.425 7.74189 14.1667 8.05856 14.1667H11.9419C12.2586 14.1667 12.5169 14.425 12.5169 14.75C12.5169 15.075 12.2586 15.3333 11.9419 15.3333Z'
    )
    path(
      d='M16.0084 5.34999V8.43332C15.975 8.41666 15.9334 8.40832 15.9 8.39999C15.3167 8.24166 14.6584 8.16666 13.875 8.16666C12.5917 8.16666 11.9917 8.54166 11.375 9.00832C11.2917 9.06666 11.2167 9.14166 11.15 9.20832L10.35 10.05C10.275 10.1333 10.1417 10.1833 10 10.1833C9.85837 10.1833 9.72503 10.1333 9.6417 10.0417L8.85837 9.21666C8.78337 9.13332 8.70003 9.05832 8.6167 8.99999C8.0167 8.54166 7.40837 8.16666 6.12503 8.16666C5.3417 8.16666 4.68337 8.24166 4.10003 8.39999C4.0667 8.40832 4.02503 8.41666 3.9917 8.43332V5.34999C3.9917 3.62499 3.9917 1.66666 7.67503 1.66666H12.325C16.0084 1.66666 16.0084 3.62499 16.0084 5.34999Z'
    )

mixin DirectInboxIcon
  svg.fill-gray-400(
    width='20',
    height='20',
    viewbox='0 0 20 20',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400 group-hover:fill-color-brands'
  )
    path(
      d='M17.7498 10.1917H14.8498C14.0332 10.1917 13.3082 10.6417 12.9415 11.375L12.2415 12.7583C12.0748 13.0917 11.7415 13.3 11.3748 13.3H8.6415C8.38317 13.3 8.0165 13.2417 7.77484 12.7583L7.07484 11.3833C6.70817 10.6583 5.97484 10.2 5.1665 10.2H2.24984C1.92484 10.2 1.6665 10.4583 1.6665 10.7833V13.5C1.6665 16.525 3.48317 18.3333 6.5165 18.3333H13.4998C16.3582 18.3333 18.1165 16.7667 18.3332 13.9833V10.775C18.3332 10.4583 18.0748 10.1917 17.7498 10.1917Z'
    )
    path(
      d='M10.625 1.66666C10.625 1.32499 10.3417 1.04166 10 1.04166C9.65833 1.04166 9.375 1.32499 9.375 1.66666V3.33332H10.625V1.66666Z'
    )
    path(
      d='M18.3332 8.17501V9.04168C18.1498 8.97501 17.9498 8.94168 17.7498 8.94168H14.8498C13.5582 8.94168 12.3998 9.65834 11.8248 10.8083L11.1998 12.0417H8.8165L8.1915 10.8167C7.6165 9.65834 6.45817 8.94168 5.1665 8.94168H2.24984C2.04984 8.94168 1.84984 8.97501 1.6665 9.04168V8.17501C1.6665 5.14168 3.47484 3.33334 6.50817 3.33334H9.37484V5.99168L8.77484 5.39168C8.53317 5.15001 8.13317 5.15001 7.8915 5.39168C7.64984 5.63334 7.64984 6.03334 7.8915 6.27501L9.55817 7.94168C9.5665 7.95001 9.57484 7.95001 9.57484 7.95834C9.63317 8.00834 9.6915 8.05001 9.75817 8.07501C9.8415 8.10834 9.9165 8.12501 9.99984 8.12501C10.0832 8.12501 10.1582 8.10834 10.2332 8.07501C10.3082 8.05001 10.3832 8.00001 10.4415 7.94168L12.1082 6.27501C12.3498 6.03334 12.3498 5.63334 12.1082 5.39168C11.8665 5.15001 11.4665 5.15001 11.2248 5.39168L10.6248 5.99168V3.33334H13.4915C16.5248 3.33334 18.3332 5.14168 18.3332 8.17501Z'
    )

mixin ClockIcon
  svg.fill-gray-400(
    width='24',
    height='24',
    viewbox='0 0 24 24',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400 group-hover:fill-color-brands'
  )
    path(
      d='M12 2C6.49 2 2 6.49 2 12C2 17.51 6.49 22 12 22C17.51 22 22 17.51 22 12C22 6.49 17.51 2 12 2ZM16.35 15.57C16.21 15.81 15.96 15.94 15.7 15.94C15.57 15.94 15.44 15.91 15.32 15.83L12.22 13.98C11.45 13.52 10.88 12.51 10.88 11.62V7.52C10.88 7.11 11.22 6.77 11.63 6.77C12.04 6.77 12.38 7.11 12.38 7.52V11.62C12.38 11.98 12.68 12.51 12.99 12.69L16.09 14.54C16.45 14.75 16.57 15.21 16.35 15.57Z'
    )

mixin TrashIcon
  svg.fill-gray-400(
    width='20',
    height='20',
    viewbox='0 0 20 20',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400 group-hover:fill-color-brands'
  )
    path(
      d='M17.5584 4.35832C16.2167 4.22499 14.875 4.12499 13.525 4.04999V4.04166L13.3417 2.95832C13.2167 2.19166 13.0334 1.04166 11.0834 1.04166H8.90005C6.95838 1.04166 6.77505 2.14166 6.64172 2.94999L6.46672 4.01666C5.69172 4.06666 4.91672 4.11666 4.14172 4.19166L2.44172 4.35832C2.09172 4.39166 1.84172 4.69999 1.87505 5.04166C1.90838 5.38332 2.20838 5.63332 2.55838 5.59999L4.25838 5.43332C8.62505 4.99999 13.0251 5.16666 17.4417 5.60832C17.4667 5.60832 17.4834 5.60832 17.5084 5.60832C17.8251 5.60832 18.1 5.36666 18.1334 5.04166C18.1584 4.69999 17.9084 4.39166 17.5584 4.35832Z'
    )
    path(
      d='M16.025 6.78334C15.825 6.57501 15.55 6.45834 15.2666 6.45834H4.73329C4.44995 6.45834 4.16662 6.57501 3.97495 6.78334C3.78329 6.99168 3.67495 7.27501 3.69162 7.56668L4.20829 16.1167C4.29995 17.3833 4.41662 18.9667 7.32495 18.9667H12.675C15.5833 18.9667 15.7 17.3917 15.7916 16.1167L16.3083 7.57501C16.325 7.27501 16.2166 6.99168 16.025 6.78334ZM11.3833 14.7917H8.60829C8.26662 14.7917 7.98329 14.5083 7.98329 14.1667C7.98329 13.825 8.26662 13.5417 8.60829 13.5417H11.3833C11.725 13.5417 12.0083 13.825 12.0083 14.1667C12.0083 14.5083 11.725 14.7917 11.3833 14.7917ZM12.0833 11.4583H7.91662C7.57495 11.4583 7.29162 11.175 7.29162 10.8333C7.29162 10.4917 7.57495 10.2083 7.91662 10.2083H12.0833C12.425 10.2083 12.7083 10.4917 12.7083 10.8333C12.7083 11.175 12.425 11.4583 12.0833 11.4583Z'
    )

mixin CloseIcon
  svg.fill-gray-400.cursor-pointer(
    class='dark:fill-gray-dark-400',
    width='16',
    height='16',
    viewbox='0 0 16 16',
    fill='none',
    xmlns='http://www.w3.org/2000/svg'
  )
    path(
      d='M7.20003 8.00001L4.80003 10.4L5.60003 11.2L8.00002 8.80001L10.4 11.2L11.2 10.4L8.80002 8.00001L11.2 5.60001L10.4 4.80001L8.00002 7.20001L5.6 4.79999L4.8 5.59999L7.20003 8.00001Z'
    )

mixin ReplyIcon(color='fill-gray-1100 dark:fill-gray-dark-1100')
  svg.cursor-pointer(
    width='20',
    height='12',
    viewbox='0 0 20 12',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class=color
  )
    path(
      d='M18.4201 11.22C18.0101 11.22 17.6701 10.88 17.6701 10.47V7.15002C17.6701 5.91002 16.6601 4.90002 15.4201 4.90002H1.58008C1.17008 4.90002 0.830078 4.56002 0.830078 4.15002C0.830078 3.74002 1.17008 3.40002 1.58008 3.40002H15.4201C17.4901 3.40002 19.1701 5.08002 19.1701 7.15002V10.47C19.1701 10.89 18.8301 11.22 18.4201 11.22Z'
    )
    path(
      d='M4.74008 8.06998C4.55008 8.06998 4.36008 7.99995 4.21008 7.84995L1.05008 4.68997C0.910079 4.54997 0.830078 4.35994 0.830078 4.15994C0.830078 3.95994 0.910079 3.76998 1.05008 3.62998L4.21008 0.469941C4.50008 0.179941 4.98008 0.179941 5.27008 0.469941C5.56008 0.759941 5.56008 1.24 5.27008 1.53L2.64011 4.15994L5.27008 6.78995C5.56008 7.07995 5.56008 7.55995 5.27008 7.84995C5.12008 7.98995 4.93008 8.06998 4.74008 8.06998Z'
    )

mixin StarIcon
  svg.cursor-pointer.fill-gray-400(
    width='12',
    height='12',
    viewbox='0 0 12 12',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400'
  )
    path(
      d='M11.9465 4.65677C11.8714 4.42434 11.6652 4.25926 11.4213 4.23728L8.10835 3.93646L6.79831 0.870181C6.70171 0.645463 6.48172 0.5 6.2373 0.5C5.99288 0.5 5.77289 0.645463 5.67629 0.870707L4.36625 3.93646L1.05275 4.23728C0.809289 4.25979 0.603661 4.42434 0.528084 4.65677C0.452506 4.88919 0.522304 5.14413 0.706475 5.30483L3.21069 7.50104L2.47226 10.7539C2.41822 10.993 2.51105 11.2403 2.7095 11.3837C2.81617 11.4608 2.94096 11.5 3.06681 11.5C3.17531 11.5 3.28294 11.4707 3.37954 11.4129L6.2373 9.70497L9.09401 11.4129C9.30305 11.5387 9.56657 11.5272 9.76458 11.3837C9.96311 11.2398 10.0559 10.9925 10.0018 10.7539L9.26338 7.50104L11.7676 5.30526C11.9518 5.14413 12.0221 4.88963 11.9465 4.65677Z'
    )

mixin MoreIcon
  svg.cursor-pointer.fill-gray-500(
    width='13',
    height='4',
    viewbox='0 0 13 4',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-500'
  )
    path(
      d='M2.48828 0.488281C1.67969 0.488281 0.976562 1.19141 0.976562 2C0.976562 2.80859 1.67969 3.51172 2.48828 3.51172C3.29688 3.51172 4 2.80859 4 2C4 1.19141 3.29688 0.488281 2.48828 0.488281ZM11.4883 0.488281C10.6797 0.488281 9.97656 1.19141 9.97656 2C9.97656 2.80859 10.6797 3.51172 11.4883 3.51172C12.2969 3.51172 13 2.80859 13 2C13 1.19141 12.2969 0.488281 11.4883 0.488281ZM6.98828 0.488281C6.17969 0.488281 5.47656 1.19141 5.47656 2C5.47656 2.80859 6.17969 3.51172 6.98828 3.51172C7.79688 3.51172 8.5 2.80859 8.5 2C8.5 1.19141 7.79688 0.488281 6.98828 0.488281Z'
    )

mixin PrinterIcon
  svg.cursor-pointer.fill-gray-400(
    width='20',
    height='20',
    viewbox='0 0 20 20',
    fill='none',
    xmlns='http://www.w3.org/2000/svg',
    class='dark:fill-gray-dark-400'
  )
    path(
      d='M13.9582 6.45834H6.0415C5.69984 6.45834 5.4165 6.175 5.4165 5.83334V4.16667C5.4165 2.03334 6.40817 1.04167 8.5415 1.04167H11.4582C13.5915 1.04167 14.5832 2.03334 14.5832 4.16667V5.83334C14.5832 6.175 14.2998 6.45834 13.9582 6.45834ZM6.6665 5.20834H13.3332V4.16667C13.3332 2.75001 12.8748 2.29167 11.4582 2.29167H8.5415C7.12484 2.29167 6.6665 2.75001 6.6665 4.16667V5.20834Z',
      fill='#9A9AAF'
    )
    path(
      d='M10.8332 18.9583H9.1665C7.14984 18.9583 6.0415 17.85 6.0415 15.8333V12.5C6.0415 12.1583 6.32484 11.875 6.6665 11.875H13.3332C13.6748 11.875 13.9582 12.1583 13.9582 12.5V15.8333C13.9582 17.85 12.8498 18.9583 10.8332 18.9583ZM7.2915 13.125V15.8333C7.2915 17.15 7.84984 17.7083 9.1665 17.7083H10.8332C12.1498 17.7083 12.7082 17.15 12.7082 15.8333V13.125H7.2915Z',
      fill='#9A9AAF'
    )
    path(
      d='M15 15.625H13.3333C12.9917 15.625 12.7083 15.3417 12.7083 15V13.125H7.29167V15C7.29167 15.3417 7.00833 15.625 6.66667 15.625H5C2.98333 15.625 1.875 14.5167 1.875 12.5V8.33333C1.875 6.31666 2.98333 5.20833 5 5.20833H15C17.0167 5.20833 18.125 6.31666 18.125 8.33333V12.5C18.125 14.5167 17.0167 15.625 15 15.625ZM13.9583 14.375H15C16.3167 14.375 16.875 13.8167 16.875 12.5V8.33333C16.875 7.01666 16.3167 6.45833 15 6.45833H5C3.68333 6.45833 3.125 7.01666 3.125 8.33333V12.5C3.125 13.8167 3.68333 14.375 5 14.375H6.04167V12.5C6.04167 12.1583 6.325 11.875 6.66667 11.875H13.3333C13.675 11.875 13.9583 12.1583 13.9583 12.5V14.375Z',
      fill='#9A9AAF'
    )
    path(
      d='M14.1668 13.125H5.8335C5.49183 13.125 5.2085 12.8417 5.2085 12.5C5.2085 12.1583 5.49183 11.875 5.8335 11.875H14.1668C14.5085 11.875 14.7918 12.1583 14.7918 12.5C14.7918 12.8417 14.5085 13.125 14.1668 13.125Z',
      fill='#9A9AAF'
    )
    path(
      d='M8.3335 9.79167H5.8335C5.49183 9.79167 5.2085 9.50834 5.2085 9.16667C5.2085 8.82501 5.49183 8.54167 5.8335 8.54167H8.3335C8.67516 8.54167 8.9585 8.82501 8.9585 9.16667C8.9585 9.50834 8.67516 9.79167 8.3335 9.79167Z',
      fill='#9A9AAF'
    )
