mixin PaginateNextBtn
  .flex.items-center.gap-x-10&attributes(attributes)
    div
      +ButtonBase("1").bg-color-brands.font-semibold(class='py-[11px] px-[18px] hover:bg-color-brands') 
      +ButtonBase("2").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:text-white hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
      +ButtonBase("3").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:text-white hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
      +ButtonBase("4").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:text-white hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
      +ButtonBase("5").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:text-white hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
    a.items-center.justify-center.border.rounded-lg.border-neutral.hidden(
      href='#',
      class='gap-x-[10px] px-[18px] py-[11px] dark:border-dark-neutral-border sm:flex'
    ) 
      span.text-gray-400.text-xs.font-semibold(class='leading-[18px] dark:text-gray-dark-400') Next
      img(src='assets/images/icons/icon-arrow-right-long.svg', alt='arrow right icon')

mixin PaginateNextBtnSm
  .flex.items-center.gap-x-10&attributes(attributes)
    div
      +ButtonBase("1").bg-color-brands.font-semibold(class='py-[11px] px-[18px] hover:bg-color-brands') 
      +ButtonBase("2").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
      +ButtonBase("3").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
      +ButtonBase("4").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
      +ButtonBase("5").bg-transparent.font-semibold.text-gray-1100(
        class='py-[11px] px-[18px] hover:bg-color-brands dark:text-gray-dark-1100'
      ) 
    a.items-center.justify-center.border.rounded-lg.border-neutral.hidden(
      href='#',
      class='gap-x-[10px] px-[18px] py-[11px] dark:border-dark-neutral-border lg:flex'
    ) 
      span.text-gray-400.text-xs.font-semibold(class='leading-[18px] dark:text-gray-dark-400') Next
      img(src='assets/images/icons/icon-arrow-right-long.svg', alt='arrow right icon')
