mixin TableRowProductItem(img, text1, text2, text3, text4)
  tr.border-b(class='border-[#E8EDF2] dark:border-[#313442] pb-[15px]')
    td.text-center
      +Checkbox(class='mb-[-6px]')
    td.flex.items-center(class='gap-x-[30px] py-[15px]')
      img.w-12(src=img, alt='product')
      span.text-base.text-gray-500= text1
    td.text-base.text-gray-500= text2
    td.text-base.text-gray-500(class='pl-[30px]')= text3
    td.text-base.text-gray-500.text-right.pr-3= text4

mixin TableRowSellerDetails(text1, text2)
  tr
    th.text-xs.text-gray-500.font-normal.pb-4.capitalize.text-left(class='dark:text-gray-dark-500')= text1
    td.text-xs.text-gray-1100.pb-4.text-left(class='dark:text-gray-dark-1100')= text2

mixin TableRowCustomerDetails(text1, text2)
  tr
    th.text-gray-400.font-normal.capitalize.text-left.leading-4(class='dark:text-gray-dark-400 text-[14px] pb-[15px]')= text1
    td.leading-4.text-gray-1100.text-left(class='dark:text-gray-dark-1100 text-[14px] pb-[15px]')= text2

mixin TableRowRecentPurchases(product, id, date, avatar, name, statusColor,status, amount)
  tr.border-b.text-normal.text-gray-1100.border-neutral(class='dark:border-dark-neutral-border dark:text-gray-dark-1100')
    td.text-left
      +Checkbox(class='mb-[-6px]')
    td(class='py-[17px]')
      span= product
    td
      span= id
    td
      span= date
    td
      +AvatarName(avatar,name)
    td
      +Status(statusColor, status)
    td
      span= amount
    td
      +DropDown(false, list=[{link: '#', title: 'View details'}, {link: '#', title: 'Pending'}, {link: '#', title: 'Completed'}, {divider: true}, {link: '#remove', title: 'Cancel'}], labelStyle='flex items-center justify-between p-3', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end').w-full
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin TableRowCustomerList(avatar,name, email, phone, address, statusColor,status, date)
  tr.border-b.text-normal.text-gray-1100.border-neutral(class='dark:border-dark-neutral-border dark:text-gray-dark-1100')
    td.text-left
      +Checkbox(class='mb-[-6px]')
    td(class='py-[25px]')
      +AvatarName(avatar,name)
    td
      span= email
    td
      span= phone
    td(class='max-w-[196px]')
      p(class='max-w-[20ch]')= address
    td
      +Status(statusColor, status)
    td
      span= date
    td
      +DropDown(false, list=[{link: '#', title: 'View details'}, {link: '#', title: 'Send message'}, {link: '#', title: 'Contact'}, {divider: true}, {link: '#remove', title: 'Delete'}], labelStyle='flex items-center justify-between p-3', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end').w-full
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin TableRowReviewList(avatar,name, email, date)
  tr.border-b.text-normal.text-gray-500.border-neutral.rounded-xl(
    class='dark:border-dark-neutral-border dark:text-gray-dark-1100'
  )
    td.text-left
      +Checkbox(class='mb-[-6px]')
    td
      +AvatarName(avatar,name, email)
    td(class='w-[400px] py-[15px]')
      span.text-desc Aliquet libero in sit imperdiet ut at donec sagittis molestie massa vivamus vehicula at convallis in semper blandit dignissim bibendum maecenas eget velit lobortis odio diam pellentesque pellentesque at iaculis
    td
      +RatingStar(5)
    td
      span= date
    td
      +DropDown(false, list=[{link: '#',icon:'assets/images/icons/icon-tick-square.svg', title: 'Approved'}, {link: '#',icon:'assets/images/icons/icon-messages.svg', title: 'Reply'}, {divider: true}, {link: '#remove',icon:'assets/images/icons/icon-close-square.svg', title: 'Delete'}], labelStyle='flex items-center justify-between p-3', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end').w-full
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin TableRowOrderList(id, avatar,name, method, date, statusColor,status, total)
  tr.border-b.text-normal.text-gray-1100.border-neutral(class='dark:border-dark-neutral-border dark:text-gray-dark-1100')
    td.text-left
      +Checkbox(class='mb-[-6px]')
    td
      span= id
    td(class='py-[25px]')
      +AvatarName(avatar,name)
    td
      span= method
    td
      span= date
    td
      +Status(statusColor, status)
    td
      span= total
    td
      +DropDown(false, list=[{link: '#', title: 'View details'}, {link: '#', title: 'Pending'}, {link: '#', title: 'Completed'}, {divider: true}, {link: '#remove', title: 'Cancel'}], labelStyle='flex items-center justify-between p-3', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end').w-full
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin TableRowPendingTransaction(id, paid, avatar, method, date, statusColor,status, total)
  tr.border-b.text-normal.text-gray-1100.border-neutral(class='dark:border-dark-neutral-border dark:text-gray-dark-1100')
    td.text-left
      +Checkbox(class='mb-[-6px]')
    td
      span= id
    td
      span= paid
    td.py-4
      +PaymentMethod(avatar,method)
    td
      span= date
    td
      +Status(statusColor, status)
    td
      +DropDown(false, list=[{link: '#', title: 'View details'}, {link: '#', title: 'Edit transation'}, {link: '#', title: 'Completed'}, {divider: true}, {link: '#remove', title: 'Cancel'}], labelStyle='flex items-center justify-between p-3', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end').w-full
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin TableHeaderSellerDetails(text)
  th.border-b.border-neutral(class='pb-[17px] dark:border-dark-neutral-border')
    .flex.items-center(class='gap-x-[10px]')
      span.text-xs.font-semibold.text-gray-500(class='dark:text-gray-dark-500')= text
      img(src='assets/images/icons/icon-arrow-up-down.svg', alt='arrow up down icon')

mixin TableCellSellerDetails(borderBottom)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    img.border.border-neutral.rounded-lg(
      class='dark:border-dark-neutral-border w-[86px]',
      src='assets/images/product-11.png',
      alt='product'
    )
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16Semibold("Cubitt Smart Watch CT2S Waterproof")(class='max-w-[168px]')
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16("Silver")
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    .flex.items-center.gap-x-2
      +Size14Leading16("556")
      img(src='assets/images/icons/icon-arrow-up-long.svg', alt='arrow up icon')
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    .flex.items-center.gap-x-2
      +Size14Leading16("453")
      progress.progress.progress-error(value='10', max='100', class='w-[56px]')
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16Semibold("$576.28")
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    img(src='assets/images/icons/icon-3-dots.svg', alt='3 dots icon')

mixin TableCellProductList(borderBottom, img, name, desc, sku, price, qty, rating, sale)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    img.border.border-neutral.rounded-lg(class='dark:border-dark-neutral-border w-[82px]', src=img, alt='product')
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    .flex.flex-col.gap-y-1(class='max-w-[250px]')
      +Size14Leading16Semibold(name)
      p.text-xs.text-gray-500(class='dark:text-gray-dark-500')= desc
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16(sku)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16Semibold(price)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    .flex.items-center.gap-x-2
      .w-2.h-2.bg-green.rounded-full
      +Size14Leading16("Active")
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16(qty)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +RatingStar(rating)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    +Size14Leading16Semibold(sale)
  td.border-b.border-neutral(class='py-[26px] dark:border-dark-neutral-border', class=borderBottom ? '!border-0' : '')
    img(src='assets/images/icons/icon-3-dots.svg', alt='3 dots icon')

mixin Status(bgColor='bg-green', status)
  .flex.items-center.gap-x-2
    .w-2.h-2.rounded-full(class=bgColor)
    p.text-normal.text-gray-1100(class='dark:text-gray-dark-1100')= status

mixin StatusBorder(color='green', text='Active')
  .border.border-neutral.bg-transparent.flex.items-center.gap-3.px-5.w-fit(class='rounded-[72px] py-[12px]')
    .rounded-full(class='w-[10px] h-[10px]', class=`bg-${color}`)
    p.font-medium.text-xs(class=`text-${color}`)= text

mixin TableCellPostListingCms(bg, title, time, avatar, author, authorInfo, hits)
  tr
    td.py-5.pl-5.border-y.border-neutral.border-l(class='dark:border-dark-neutral-bg rounded-l-[7px] w-[135px]')
      img(src=bg, alt='background', class='w-[100px] h-[80px]')
    td.border-y.border-neutral(class='dark:border-dark-neutral-bg')
      .flex.flex-col.gap-y-2
        h3.leading-4.font-medium.text-gray-1100(class='text-[16px] dark:text-gray-dark-1100 max-w-[237px]')= title
        span.text-xs.text-gray-400(class='dark:text-gray-dark-400')= time
    td.border-y.border-neutral(class='dark:border-dark-neutral-bg')
      .flex.items-center.gap-x-3
        img(src=avatar, alt='avatar')
        .flex.flex-col(class='gap-y-[7px]')
          h4.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= author
          span.text-xs.text-gray-400(class='dark:text-gray-dark-400')= authorInfo
    td.border-y.border-neutral(class='dark:border-dark-neutral-bg')
      .flex.items-center(class='gap-x-[10px]')
        a.py-1.bg-neutral(
          href='#',
          class='px-[10px] dark:bg-dark-neutral-border rounded-[5px] text-[#37404E] dark:text-[#b3b3b3]'
        ) Adobe XD
        a.py-1.bg-neutral(
          href='#',
          class='px-[10px] dark:bg-dark-neutral-border rounded-[5px] text-[#37404E] dark:text-[#b3b3b3]'
        ) Figma
    td.border-y.border-neutral(class='dark:border-dark-neutral-bg')
      span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= hits
    td.border-y.border-neutral.border-r(class='dark:border-dark-neutral-bg rounded-r-[7px]')
      button.bg-neutral-bg.mt-auto.border-transparent.rounded-lg.transition-all.duration-200.group(
        class='dark:bg-dark-neutral-bg border-[4px] dark:hover:border-dark-neutral-border hover:border-neutral'
      )
        .border-neutral.flex.items-center.gap-x-2.border.rounded-lg.py-2(
          class='dark:border-dark-neutral-border px-[10px] group-hover:border-transparent'
        )
          img(src='assets/images/icons/icon-edit-2.svg', alt='edit icon')
          span.text-gray-1100(class='dark:text-gray-dark-1100 text-[12px] leading-[19px]') View now

mixin TableCellCommentCms(img, name, time, comment, commentPlace, statusColor, statusContent)
  - var statusBg = `bg-${statusColor}`
  - var statusText = `text-${statusColor}`
  tr
    td.border-y.border-neutral.border-l.pl-5(class='dark:border-dark-neutral-bg rounded-l-[7px]')
      .flex.items-center.gap-x-3.mb-11
        img(src=img, alt='avatar')
        .flex.flex-col(class='gap-y-[7px]')
          h3.text-gray-1100.leading-4(class='dark:text-gray-dark-1100 text-[14px]')= name
          span.text-gray-400.text-xs(class='dark:text-gray-dark-400')= time
    td.border-y.border-neutral.py-8(class='dark:border-dark-neutral-bg w-[498px]')
      .flex.flex-col(class='gap-y-[11px]')
        p.text-gray-500.text-xs(class='dark:text-gray-dark-500 max-w-[479px]')= comment
        p.text-xs.text-gray-400(class='dark:text-gray-dark-400') in
          span.text-dark-neutral-border.font-semibold(class='dark:text-dark-neutral-border')= ` ${commentPlace}`
    td.border-y.border-neutral(class='dark:border-dark-neutral-bg')
      div(class='min-w-[125px]')
        .inline-flex.items-center.gap-x-3.border.bg-neutral-bg.border-neutral.px-4(
          class='dark:bg-dark-neutral-bg dark:border-dark-neutral-border rounded-[72.418px] py-[9px]'
        )
          .rounded-full(class='w-[10px] h-[10px]', class=statusBg)
          span.font-medium(class='text-[12px] leading-[18px]', class=statusText)= statusContent
    td.border-y.border-neutral.border-r(class='dark:border-dark-neutral-bg rounded-r-[7px] w-[88px]')
      +DropDown(false, list=[{link: '#', title: 'Approve'}, {link: '#', title: 'Unapprove'}, {link: '#', title: 'Mark as spam'}, {link: '#', title: 'Move to Trash'}, {divider: true}, {link: '#remove', title: 'Block'}], labelStyle='flex items-center justify-between p-4', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end')
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin QueryByClickItem(keyword, click, percent, border=true)
  - var borderBottom = 'pb-[14px] border-b border-dashed border-gray-200 dark:border-gray-dark-200'
  tr
    td(class=border ? borderBottom : '', class='pt-[21px]')
      span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= keyword
    td(class=border ? borderBottom : '', class='pt-[21px]')
      .flex.items-center(class='gap-x-[10px]')
        span.text-gray-500.leading-4.w-11(class='dark:text-gray-dark-500 text-[14px]')= click
        +ProgressBarNonGray(percent, 'color-brands')

mixin TopAnalyticsItem(text1, text2, text3, text4, text5, textColor1='text-green', textColor2='text-green', exportIcon1='assets/images/icons/icon-export-green.svg', exportIcon2='assets/images/icons/icon-export-green.svg', border=true)
  - var borderBottom = 'pb-[13.5px] border-b border-dashed border-gray-200 dark:border-gray-dark-200'
  tr
    td(class=border ? borderBottom : '', class='pt-[24.5px]')
      span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= text1
    td(class=border ? borderBottom : '', class='pt-[24.5px]')
      .flex.items-center(class='gap-x-[21px]')
        span.leading-4.text-gray-500.text-right(class='text-[14px] dark:text-gray-dark-500 w-[47px]')= text2
        .flex.items-center(class='gap-x-[7px]')
          img(src=exportIcon1, alt='export icon')
          span.leading-4.font-medium(class='text-[16px]', class=textColor1)= text3
    td(class=border ? borderBottom : '', class='pt-[24.5px]')
      .flex.items-center.justify-end(class='gap-x-[21px]')
        span.leading-4.text-gray-500.text-right(class='text-[14px] dark:text-gray-dark-500 w-[47px]')= text4
        .flex.items-center(class='gap-x-[7px]')
          img(src=exportIcon2, alt='export icon')
          span.leading-4.font-medium(class='text-[16px]', class=textColor2)= text5

mixin TableCellRecentPurchaseItem(icon, alt, fileName, size, modified, category, padding=true)
  - var paddingBottom = 'pb-[15px]'
  tr
    td.border-t.border-neutral(class=padding ? paddingBottom : '', class='pt-[15px] dark:border-dark-neutral-border')
      +Checkbox(class='translate-y-[3px]')
    td.border-t.border-neutral(class=padding ? paddingBottom : '', class='pt-[15px] dark:border-dark-neutral-border')
      .flex.items-center(class='gap-[5px]')
        .w-6.h-6.overflow-hidden
          img.w-full.h-full.object-cover(src=icon, alt=alt)&attributes(attributes)
        span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= fileName
    td.border-t.border-neutral(class=padding ? paddingBottom : '', class='pt-[15px] dark:border-dark-neutral-border')
      span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= size
    td.border-t.border-neutral(class=padding ? paddingBottom : '', class='pt-[15px] dark:border-dark-neutral-border')
      span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= modified
    td.border-t.border-neutral(class=padding ? paddingBottom : '', class='pt-[15px] dark:border-dark-neutral-border')
      span.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= category
    td.border-t.border-neutral(class=padding ? paddingBottom : '', class='pt-[15px] dark:border-dark-neutral-border')
      +DropDown(false, list=[{link: '#', title: 'Approve'}, {link: '#', title: 'Unapprove'}, {link: '#', title: 'Mark as spam'}, {link: '#', title: 'Move to Trash'}, {divider: true}, {link: '#remove', title: 'Block'}], labelStyle='flex items-center justify-between p-4', menuStyle='min-w-[126px] bg-neutral-bg mt-[10px] pt-[14px] pb-[7px] px-4 border border-neutral-border', childStyle='text-normal mb-[7px]', color='border-b-transparent',titleStyle='text-gray-500 text-[11px] leading-4 hover:text-gray-700', iconStyle, 'end')
        img.mx-auto.cursor-pointer(src='assets/images/icons/icon-more.svg', alt='more icon')

mixin TableCellFileManagerFolder(icon, alt, fileName, time, downloaded, capacity, shared, version)
  tr
    td
      +Checkbox(class='translate-y-[3px]')
    td(class='py-[10px]')
      .flex.items-center(class='gap-[13px]')
        img.mr-2(src=icon, alt=alt)
        .flex.flex-col(class='gap-y-[5px]')
          h4.font-semibold.leading-4.text-gray-1100(class='text-[14px] dark:text-gray-dark-1100')= fileName
          time.text-xs.text-gray-400(class='dark:text-gray-dark-400')= time
    td
      span.text-gray-500(class='dark:text-gray-dark-500 leading-[17px] text-[10.5px]')= downloaded
    td
      span.text-gray-500(class='dark:text-gray-dark-500 leading-[17px] text-[10.5px]')= capacity
    td
      span.text-gray-500(class='dark:text-gray-dark-500 leading-[17px] text-[10.5px]')= shared
    td
      span.text-gray-500(class='dark:text-gray-dark-500 leading-[17px] text-[10.5px]')= version
    td
      .flex.items-center(class='gap-[10px]')
        img(src='assets/images/icons/icon-paper-clip.svg', alt='paper clip icon')
        img(src='assets/images/icons/icon-star-yellow.svg', alt='star icon')

mixin TableRowMailInbox(avatar='assets/images/avatar-layouts-1.png', name='Theresa Webb')
  tr.border-b.border-neutral(class='dark:border-dark-neutral-border')&attributes(attributes)
    td(class='max-w-[25px]')
      +Checkbox(class='translate-y-[3px]')
    td 
      .flex.items-center.pl-5(class='gap-[14px]')
        +UserAvatar(avatar, 'w-10 h-10').border-none
        +SellerSales(name, 'on 2022/02/17 at 11:21 pm', 'mb-[5px]').flex-1
    td 
      p.text-gray-500.pr-5(class='text-[11px] leading-[17px] dark:text-gray-dark-500 p-[10px] pb-[25px] max-w-[66ch]') Duis ac augue ut lectus congue luctus. Vivamus eu lacus vestibulum, luctus ante dignissim, interdum orci. Donec in ullamcorper lacus, molestie accumsan tortor. Cras tristique leo nulla, quis condimentum nisi volutpat ut. Praesent non ipsum massa. Vestibulum ut consequat sapien.
    td 
      .flex.items-center(class='gap-[5px]')
        img(src='assets/images/icons/icon-paper-clip.svg', alt='paper clip icon')
        img(src='assets/images/icons/icon-star-yellow.svg', alt='star icon')
