extends layout/layout

block vars
  - title = 'Jobs Listing 2 Page';
  - bodyClass = 'jobs-listing-2-page';

block container
  .text-center.pb-20.px-5(class='pt-[66px] lg:px-[50px] xl:px-[150px]')
    h2.text-gray-1100.font-semibold(
      class='dark:text-gray-dark-1100 text-[28px] leading-[34px] mb-[10px]'
    ) There are 34.256 jobs
    p.text-gray-500.text-sm.leading-4(class='dark:text-gray-dark-500 mb-[34px]') Check out latest updates
    .bg-neutral-bg.flex.rounded-xl.w-full.m-0.search-input-shadow.items-center(
      class='py-[14px] px-[18px] dark:bg-gray-dark-100 mb-[35px]'
    )
      img(src='assets/images/icons/icon-search-normal.svg', alt='seacrh icon')
      input.input.w-full.bg-transparent.outline-none.h-5.text-gray-400.text-sm.leading-4(
        type='text',
        placeholder='Enter your keyword...',
        class='focus:!outline-none placeholder:text-gray-400 dark:placeholder:text-gray-dark-400 pl-[11px]'
      )
      .items-center.py-3.rounded-lg.justify-center.hidden(
        class='gap-x-[13px] bg-[#E8EDF2] dark:bg-[#313442] px-[14px] min-w-[164px] xl:flex'
      )
        span.text-sm.leading-4.text-gray-500(class='dark:text-gray-dark-500') UI/UX designing
        img.cursor-pointer(
          src='assets/images/icons/icon-close.svg',
          alt='close icon'
        )
      .items-center.hidden(class='min-w-[127px] ml-[68px] xl:flex')
        img.pr-2(src='assets/images/icons/icon-work.svg', alt='work icon')
        span.text-gray-500.text-sm.leading-4(class='dark:text-gray-dark-500 pr-[3px]') Full time job
        img.cursor-pointer(
          src='assets/images/icons/icon-arrow-down.svg',
          alt='arrow down icon'
        )
      .items-center.hidden(class='min-w-[133px] ml-[58px] xl:flex')
        img.pr-2(
          src='assets/images/icons/icon-location.svg',
          alt='location icon'
        )
        span.text-gray-500.text-sm.leading-4(class='dark:text-gray-dark-500 pr-[3px]') New York, USA
        img.cursor-pointer(
          src='assets/images/icons/icon-arrow-down.svg',
          alt='arrow down icon'
        )
      +ButtonBase('Find Jobs').px-6.bg-color-brands.rounded-lg(
        class='py-[10.5px] hover:bg-color-brands xl:ml-[102px]'
      )
    .flex.mx-auto.flex-wrap.justify-center(class='max-w-[700px] gap-[5px] mb-[66px]')
      +TagBase('PHP Developer')
      +TagBase('Python Developer')
      +TagBase('Human Resource')
      +TagBase('Joomla Developer')
      +TagBase('UI UX Designer')
      +TagBase('Program Manager')
      +TagBase('Marketing Manager')
      +TagBase('SEO Manager')
      +TagBase('Graphic Designer')
    h2.text-gray-1100.font-semibold.text-center(
      class='dark:text-gray-dark-1100 text-[28px] leading-[34px] mb-[14px]'
    ) Latest Jobs
    p.text-gray-500.text-xs.text-center(class='dark:text-gray-dark-500 mb-[35px]') Showing 41-60 of
    .grid.grid-cols-1.gap-6(class='mb-[28px] lg:grid-cols-3')
      +RecentJobItemGrid('assets/images/jobs-dashboard-1.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-9.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-10.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-11.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-10.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-1.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-9.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-1.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-10-.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-11.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-1.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
      +RecentJobItemGrid('assets/images/jobs-dashboard-9.png', 'Sales Representative - Territory Lead', 'New York, NY', 'It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.', 'AliStudio, Inc', '$500')
    +PaginateNextBtn
