extends layout/layout

block vars
  - title = 'Order Details Page'
  - bodyClass = 'order-details-page'

block container
  +Breadcrumb('home', 'dashboard')(class='mb-[32px]')
  .border.rounded-2xl.pt-5.pl-5.pr-6.bg-white.border-neutral(
    class='pb-[20px] dark:border-dark-neutral-border dark:bg-[#1F2128] mb-[39px]'
  )
    h3.font-normal.text-gray-1100.text-base.leading-4(class='mb-[23px] dark:text-gray-dark-1100') Orders ID: #68543
    .flex.justify-between.flex-col.gap-y-4(class='mb-[10px] lg:mb-[2px] lg:flex-row')
      .flex.items-center.gap-x-2 
        img(src='assets/images/icons/icon-calendar-1.svg', alt='calendar icon')
        time.font-normal.text-gray-1100.text-base.leading-4(class='dark:text-gray-dark-1100') Mon, Jan 28, 2022, 8:40AM
      .flex.gap-4.flex-col(class='sm:flex-row') 
        .bg-neutral(class='rounded-[5px] dark:bg-dark-neutral-border')
          +InputSelectUnique("Change Status")
        button.btn.border-0.capitalize.font-normal(
          class='rounded-[5px] text-[#7E7E8F] bg-[#E8EDF2] dark:bg-[#313442] hover:bg-[#E8EDF2] dark:hover:bg-[#313442]'
        ) Save
        button.btn.border-0(class='rounded-[5px] bg-[#E8EDF2] dark:bg-[#313442] hover:bg-[#E8EDF2] dark:hover:bg-[#313442]') 
          img(src='assets/images/icons/icon-print.svg', alt='print icon')
    p.text-sm.leading-4(class='text-[#50D1B2] my-[10px]') Pending
    .w-full.mb-5(class='bg-[#E8EDF2] dark:bg-[#313442] h-[1px]')
    .flex.justify-between.mb-12.flex-col.gap-y-10(class='lg:flex-row')
      +OrderDetailsItem('assets/images/icons/icon-user.svg', 'user icon', 'Customer', 'Full name: Jane Cooper', 'E-mail: tim.jennings@example.com', 'Phone: +099 856 245', 'View Profile')
      +OrderDetailsItem('assets/images/icons/icon-bag-2.svg', 'bag icon', 'Order Info', 'Shipping: Next express', 'Pay method: Paypal', 'Status: Pending', 'Download info')
      +OrderDetailsItem('assets/images/icons/icon-send-2.svg', 'send icon', 'Deliver to', 'Address: Santa Ana, Illinois 85486', '2972 Westheimer Rd.', 'Block 9A', 'View Profile')
    .flex.items-start.mb-9.flex-col(class='gap-[30px] sm:flex-row')
      .p-5.border.flex.flex-col.gap-y-2.flex-1.border-neutral(
        class='dark:border-dark-neutral-border dark:bg-[#1F2128] rounded-[7px] max-w-[421px]'
      )
        +Size14Leading16Semibold("Payment info")
        .flex.items-center(class='gap-x-[6px]')
          img.inline-block.border.border-neutral(
            src='assets/images/icons/icon-master-card.svg',
            alt='american express',
            class='py-[7px] px-[10px] dark:border-dark-neutral-border rounded-[2px]'
          )
          +Size14Leading16("Master Card**** ****6557")
        +Size14Leading16("Business name: Fox Market LLC")
        +Size14Leading16("Phone: +09985 6578 52")
      .flex-1.w-full
        +Size14Leading16Semibold("Notes")(class='mb-[5px]')
        textarea.textarea.w-full.text-gray-400.resize-none.pt-1.bg-transparent.border.border-neutral(
          class='dark:text-gray-dark-400 focus:outline-none dark:border-dark-neutral-border dark:bg-[#1F2128] min-h-[115px] rounded-[7px] p-[10px]',
          placeholder='Type some note'
        )
    .w-full.mb-10(class='bg-[#E8EDF2] dark:bg-[#313442] h-[1px]')
    p.text-xl.pl-5.text-gray-1100.font-semibold(class='dark:text-gray-dark-1100 leading-[18px] mb-[28px] xl:pl-7') Products
    .overflow-x-scroll.scrollbar-hide(class='xl:overflow-x-hidden')
      table.w-full.mb-6(class='min-w-[900px]') 
        tr.border-b.border-neutral(class='dark:border-dark-neutral-border dark:border-[#313442] pb-[15px]') 
          th
            +Checkbox(class='mb-[6px]')
          th.font-medium.text-base.text-gray-1000.text-left(class='pb-[15px] w-[342px] dark:text-gray-dark-1000') Product Name
          th.font-medium.text-base.text-gray-1000.text-left(class='pb-[15px] w-[197px] dark:text-gray-dark-1000') Price
          th.font-medium.text-base.text-gray-1000.text-left(class='pb-[15px] dark:text-gray-dark-1000') Quantity
          th.font-medium.text-base.text-gray-1000.text-right.pr-6(class='pb-[15px] dark:text-gray-dark-1000') Total
        +TableRowProductItem('assets/images/product-1.png', 'Bose noirse cancelling', '$948.55', '2', '$630.44')
        +TableRowProductItem('assets/images/product-2.png', 'Bose noirse cancelling', '$948.55', '2', '$630.44')
        +TableRowProductItem('assets/images/product-3.png', 'Bose noirse cancelling', '$948.55', '2', '$630.44')
        +TableRowProductItem('assets/images/product-4.png', 'Bose noirse cancelling', '$948.55', '2', '$630.44')
    .flex.items-center.gap-x-36.justify-start(class='lg:gap-x-48 sm:justify-end')
      .flex.flex-col(class='gap-y-[15px]') 
        +Size14Leading16("Subtotal:")
        +Size14Leading16("Tax(20%):")
        +Size14Leading16("Discount:")
        p.text-gray-500.font-semibold(class='text-[20px] leading-[18px]') Total:
        +Size14Leading16("Status:")
      .flex.flex-col.text-right(class='gap-y-[15px]') 
        +Size14Leading16("$630.44")
        +Size14Leading16("$782.01")
        +Size14Leading16("$293.01")
        p.text-gray-500.font-semibold(class='text-[20px] leading-[18px] dark:text-gray-dark-500') 310,000
        button.btn.text-sm.leading-4.border-0.h-fit.min-h-fit.py-2.font-normal.capitalize(
          class='px-[19.5px] text-[#50D1B2] bg-[#E8EDF2] dark:bg-[#313442] hover:bg-[#E8EDF2] dark:hover:bg-[#313442]'
        ) Pending
  a.flex.items-center.gap-x-2(href='#') 
    img(src='assets/images/icons/icon-arrow-left-long.svg', alt='arrow left icon')
    span.text-xs.text-gray-500(class='hover:text-gray-dark-500') Back to Orders List
