extends layout/layout

block vars
  - title = 'Password required'
  - bodyClass = 'authentication-sign-in-page'

block container
  form.rounded-2xl.bg-white.mx-auto.p-10.text-center(action='', method='', class='max-w-[440px] my-[84px] dark:bg-[#1F2128]')
    .mb-4.text-center.mx-auto
      img.inline-block(src='assets/images/icons/icon-password-required.svg', alt='landing success')
    h3.font-bold.text-2xl.text-gray-1100.capitalize(class='mb-[5px] dark:text-gray-dark-1100') Admin-only area
    p.text-sm.text-gray-500(class='mb-[30px] dark:text-gray-dark-500') You need to provide a password to be able to access this page.
    div
      label(for='psw')
        p.text-left.text-sm.mb-2.text-gray-1100(class='dark:text-gray-dark-1100') Password
      .form-control(class='mb-[20px]')
        .input-group.border.rounded-lg(class='border-[#E8EDF2] dark:border-[#313442]')
          input.input.flex-1.bg-transparent.text-gray-300(
            type='password',
            placeholder='Password',
            name='psw',
            autocomplete='on',
            class='focus:outline-none dark:text-gray-dark-300'
          )
          button.btn-square.border-white.flex.items-center.justify-center.bg-transparent
            img(src='assets/images/icons/icon-eye.svg', alt='eye icon')
    +Button("Confirm", false, 52, "M", "solid", false).w-full.border-neutral-bg(
      class='mb-[20px] py-[14px] dark:border-dark-neutral-bg'
    )
    a.text-center.text-xs.block(href='#', class='text-[#8083A3] mb-[20px]') Forgot password?
